.info_panel {
  height: 100%;
  margin: 100px 0 200px 0;
  padding: 50px;
  background-color: #141414;
  min-height: 600px;
}

.footer_panel {
  height: 150px;
  margin: 50px 0 0 0;
  padding: 50px;
  background-color: #141414;
}

.intro_title {
  padding: 15%;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  color: #c9c9c9;
}

.divider {
  width: 30%;
}

.body {
  color: white;
  background-image: url(https://raw.githubusercontent.com/Keke111/Keke111.github.io/master/img/Bg.jpg);
}

a {
  color: #c9c9c9;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: Open sans;
}

/*
    EDUCATION
                */

.education_panel {
  background-color: #1c1c1c;
}

.education_icon {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-twitter:hover {
  text-decoration: none;
  color: #55acee;
}

.btn-github:hover {
  text-decoration: none;
  color: #800080;
}

.btn-linkedin:hover {
  text-decoration: none;
  color: #1b85bd;
}

.btn-email:hover {
  text-decoration: none;
  color: white;
}

.progress-bar {
  background-color: #707070;
}

.progress {
  border-radius: 0;
  background-color: #575757;
}

.skill_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.progress-bar_name {
  margin-bottom: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title {
  display: inline-block;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.skill_subtitle {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.about-text {
  max-width: 560px;
  text-align: center;


}

.portfolio_img {
  width: 250px;
  height: 150px;
}

.carousel-control.left {
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  font-size: 50px;
}

.carousel-control.right {
  background-image: linear-gradient(to right,rgba(0,0,0,.000001) 0,rgba(0,0,0,0) 100%);
    font-size: 50px;
}

.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.top {
    position: absolute;
    top: 6px;
    left: 50%;
    font-size: 18px;
}

.text {
  padding: 5% 5% 0% 5%;
  text-align: center;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
